<app-navbar></app-navbar>

<!-- Descripción del producto seleccionado -->
<app-descripcion-seleccionado [productoId]="productoId"></app-descripcion-seleccionado>

<!-- Un solo carrusel con el título "Más productos" e integración de gadgets y promociones -->
<app-carrusel-category [categoriaId]="0" [titulo]="'Más productos'"
    [subtitulo]="'Explora nuestra selección completa de descanso ortopédico y complementos.'">
</app-carrusel-category>

<!-- Grid de productos de interés -->
<app-util-grid-productos-interes [productoActualId]="productoId"></app-util-grid-productos-interes>

<app-footer></app-footer>