<nav class="navbar">
  <div class="container d-flex justify-between items-center">
    <!-- Logo -->
    <div class="navbar-logo">
      <img src="assets/img/logo.png" alt="Districol Logo" class="logo-img">
    </div>

    <!-- Menú principal -->
    <ul class="navbar-menu d-flex">
      <li><a href="/" class="navbar-link">Inicio</a></li>
      <li><a href="/productos" class="navbar-link">Colchones</a></li>
      <li><a href="/nosotros" class="navbar-link">Nosotros</a></li>
      <li><a href="/contacto" class="navbar-link">Contacto</a></li>
    </ul>

    <!-- Acciones -->
    <div class="navbar-actions d-flex items-center">
      <input type="text" placeholder="Busca colchones a tu medida" class="search-input">
      <a href="/login" class="btn btn-outline" aria-label="Iniciar Sesión">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
      </a>
    </div>
  </div>
</nav>

<!-- Barra de información -->
<div class="info-bar">
  <div class="info-content">
    <a href="/productos" class="info-item">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <span class="info-text">Colchones importados</span>
      <span class="info-desc">& de alta gama</span>
    </a>

    <a href="https://www.google.com/maps/dir/?api=1&destination=Cra.19+%23+19-35+Armenia+Quindio"
       target="_blank"
       rel="noopener noreferrer"
       class="info-item">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
      </svg>
      <span class="info-text">Centro de experiencia</span>
      <span class="info-desc">en Armenia</span>
    </a>

    <div class="info-item highlight">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
        <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.456-.328a.5.5 0 1 1 .576.788l-.408.293c.182.27.354.567.516.875l.548-.328a.5.5 0 1 1 .548.838l-.293.176c.437.696.645 1.47.645 2.294 0 2.697-2.261 4.891-5 4.891-2.739 0-5-2.194-5-4.891 0-1.516.709-2.898 1.839-3.663.205-.149.323-.382.323-.627a.5.5 0 0 1 .5-.5c.223 0 .434.053.63.146a4.393 4.393 0 0 1 1.71-.614V1.5a.5.5 0 0 1 .5-.5zM5 6.5c0 .763.192 1.468.5 2.044V6.5a.5.5 0 0 1 1 0v2.044c.308-.576.5-1.281.5-2.044a.5.5 0 0 1 1 0c0 .763.192 1.468.5 2.044V6.5a.5.5 0 0 1 1 0v2.044c.308-.576.5-1.281.5-2.044 0-2.137-1.128-3.848-2.5-4.356v2.115a.5.5 0 0 1-1 0V2.144C6.128 2.652 5 4.363 5 6.5z"/>
      </svg>
      <span class="info-text">Agenda tu visita</span>
      <span class="info-desc">duerme diferente</span>
    </div>
  </div>
</div>
